*~
*.swp
*.kate-swp
bin/
.classpath
.directory
.metadata/
.settings/
.project

.gradle/
build/
classes/
target/
*.iws
*.ipr
*.iml
out/
/.sonar
build
logs
generated4ide/
_Deparsed_XSubs.pm
gradlew.bat

.DS_Store
.attach_pid*
gradle.properties
